/* Poppins Font For Headings */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Lato&family=Lexend:wght@200;300;700&family=Livvic:wght@500&family=Nunito+Sans:wght@200&family=Open+Sans&family=Poppins:wght@400;500&family=Righteous&family=Roboto&family=Roboto+Condensed:wght@700&family=Yeon+Sung&display=swap');

/* Roboto Font For h1 */
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Josefin+Sans:ital,wght@1,700&family=Knewave&family=Lato&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&family=Work+Sans&display=swap');

/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Lato&family=Lexend:wght@200;300;700&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Knewave&family=Lato&family=Lexend:wght@200;300;700&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap');

 /* Paragraph font */
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Knewave&family=Lato&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap');

  /* subheading font */


  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Josefin+Sans:ital,wght@1,700&family=Knewave&family=Lato&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Pacifico&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&family=Work+Sans&display=swap');

  /* Poppins Font */
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Josefin+Sans:ital,wght@1,700&family=Knewave&family=Lato:wght@100;400&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Pacifico&family=Poppins:wght@200;500;600&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&family=Work+Sans&display=swap');

  /* Funky Button Font */
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Josefin+Sans:ital,wght@1,700&family=Knewave&family=Lato:wght@100;400&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Lilita+One&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Pacifico&family=Poppins:wght@200;500;600&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&family=Work+Sans&display=swap');

  /* Section Heading */
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Acme&family=Anton&family=Baloo+Bhai+2:wght@800&family=Barlow+Condensed:wght@200&family=Combo&family=Cormorant+Garamond&family=Domine:wght@700&family=Josefin+Sans:ital,wght@1,700&family=Knewave&family=Lato:wght@100;400&family=Lexend:wght@200;300;700&family=Libre+Franklin&family=Lilita+One&family=Livvic:wght@500&family=Marck+Script&family=Nunito+Sans:wght@200&family=Open+Sans&family=Pacifico&family=Poppins:wght@200;500;600&family=Proza+Libre&family=Righteous&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&family=Work+Sans&display=swap');

/* lora */
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito:wght@200&display=swap');

  /* lato font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:wght@500&family=Nunito:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-color: #1b1b1e;
    --red-color: #96031a;
    /* --red-color: #D74635 ; */
    /* --yellow-color: #faa916; */
    --yellow-color: #FD9D3E;
    
    --white-color: #fbfffe;
    /* --logo-font: 'Marck Script', cursive; */
    --yellow-img-bg: #FD9D3E;
   
    --logo-font: 'Knewave', cursive;
    --poppins-font: 'Poppins', sans-serif;
    --btn-font: 'Lilita One', cursive;
    /* --lora-font: 'Lora', serif; */
    --lora-font: 'Nunito', sans-serif 
    /* --section-heading: 'Domine', serif; */
    --section-heading:'Roboto', sans-serif;
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 10px;
    --lato-paragraph-font: 'Lato', sans-serif;
}

.logo-nav{
    display: flex;
    width: 100%;
    height: 5vmax;
    background-color: black;
}

.rest-logo{
    display: flex;
    flex-direction: row;
    color: var(--yellow-color);
    /* width: 12%; */
    width: 16vw;
    gap: 0;
    margin-left: 9rem;
    margin-top: 1rem;
}

.rest-logo span{
    color: var(--white-color);
}

.pizza-text{
    /* width: 75%; */
    width: 12vw;
    /* font-size: 2em; */
    font-size: 2.8vw;
    font-family: var(--logo-font);
}

.pizza-logo{
    width: 32%;
}

.logo-img{
    width: 100%;
}

.checkout-nav{
    margin-bottom: 3%;
}








